# ===================================
# Python
# ===================================
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# ===================================
# Django
# ===================================
db.sqlite3
/staticfiles/
/media/

# ===================================
# Virtual Environment
# ===================================
venv/
env/
ENV/
.venv/

# ===================================
# Environment & Config
# ===================================
.env
*.log
*.pot
*.py[cod]
*.mo

# ===================================
# IDE / Editor files
# ===================================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# ===================================
# OS files
# ===================================
.DS_Store
Thumbs.db
